/* src/components/AddMovie.css */
.add-movie-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  input,
  select,
  textarea {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #2d6cdf;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1c4f9c;
  }
  
  button[type="button"] {
    background-color: #f44336;
  }
  
  button[type="button"]:hover {
    background-color: #d32f2f;
  }
  